@mixin profilePic {
    height: 40px;
    width: 40px;
    padding: 9px;
    border-radius: 50%;
    border: 1px solid #f0f0f0;
}

@mixin textarea {
    outline: none;
    resize: none;
    background: #fff;
    border: 0px;
    height: 50px;
    width: 90%;
    margin-top: 5px;
    font-size: 17px;
    line-height: 20px;
}

textarea {
    @include textarea()
}

body {
    background: url('/dist/assets/planet-9.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: "rooney-sans", Avenir-Book, Calibri, sans-serif!important;
    color: #fff;
    text-align: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

a {
    text-decoration: none!important;
}

.wrapper {
    background: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.signup-component {
    position: absolute;
    width: auto;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transition: 1.5s;
    -moz-transition: 1.5s;
    -o-transition: 1.5s;
    transition: 1.5s;

    -webkit-animation: bounce 1s 1!important;
	-moz-animation: bounce 1s 1!important;
	-o-animation: bounce 1s 1!important;
	animation: bounce 1s 1!important;
	opacity: 1 !important;

    &.show {
        opacity: 1;
    }

    img {
        height: 80px;
    }
}

.signup-item {
  font-size: 17px;
  margin: 20px 0px;
  display: flex;
  justify-content: center;
  align-items: center;

  &.input {
    border-bottom: 1px solid #f0f0f0;
  }
}

.expand-image {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 80%!important;
    max-height: 80%!important;
    z-index: 999999;
    // -webkit-transition: 1.5s;
    // -moz-transition: 1.5s;
    // -o-transition: 1.5s;
    // transition: 1.5s;
}

label {
  color: #999;
   font-size: 17px;
}

input[type=text], input[type=search], input[type=password] {
  background: transparent;
  outline : none;
  border: 0;
  padding: 5px;
  color: #fff;
   font-size: 17px;
}

.home {
    h2 {
        color: #22a0ce;
    }
}


header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 72px;
    z-index: 99999;
    background: #fff;
    margin: 0px auto;
    justify-content: center;
    align-items: center;
    display: flex;
    box-shadow: rgba(48, 64, 59, 0.15) 0px 1px 0px 0px;

    .header-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #000;
        height: 100%;
        width: 1024px;
     
        @media(max-width: 1024px) {
            width: 980px;
        }

        @media(max-width: 980px) {
            width: 93%;
        }

        .header-main-content {
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;
        }

        .search-section {
            position: relative;

            .search {
                background: #f0f0f0;
                border-radius: 20px;
                color: #000;
                padding: 7px 12px;
    
                @media(max-width: 780px) {
                    display: none;
                }
            }

            .search-results {
                position: absolute;
                width: 300px;
                background: ghostwhite;
                top: 48px;
                box-shadow: 0px 1px 4px #ddd;
                display: flex;
                flex-direction: column;

                &:after, &:before {
                    content: '';
                    position: absolute;
                    top: -12px;
                    left: 10%;
                    display: block;
                    width: 0;
                    height: 0;
                    border-left: 12.5px solid transparent;
                    border-right: 12.5px solid transparent;
                    border-bottom: 12px solid ghostwhite;
                }

                .key {
                    padding: 9px;
                    text-align: left;
                    color: #999;
                    font-size: 11px;
                }

                .results {
                    border-top: 1px solid #f0f0f0;

                    .search-item {
                        display: flex;
                        align-items: center;

                        &:hover {
                            background: #fff;
                        }

                        img {
                            margin: 0px 5px;
                            @include profilePic();
                            height: 29px;
                            width: 29px;
                            margin: 5px 
                        }

                        .username {
                            color: #555;
                        }
                    }
                }


            }
        }
       
    
        .logo {
            margin: 0;
            padding: 0;
            color: #000;
            text-decoration: none!important;
        }
    
        .user-info {
            color: #999;
            display: flex;
            align-items: center;
            
            a {
                display: flex;
                align-items: center;

                text-decoration: none!important;
                color: #777;
                &.username {
                    color: #22a0ce;
                }

                img {
                    margin: 0px 5px;
                    @include profilePic();
                    height: 29px;
                    width: 29px;
                }
            }
        }
    }
}

.main-menu {
    position: fixed;
    top: 72px;
    background: aliceblue;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: #000;
    display: flex;
    z-index: 999999;
    flex-wrap: wrap;
    box-sizing: border-box;

    > a {
        color: #000 !important;
        font-size: 14px;
        padding: 15px;
        box-sizing: border-box;
        border-bottom: 2px solid transparent;
        box-sizing: border-box;
        display: block;

        &.active {
            font-weight: bold;
            border-bottom: 2px solid limegreen;
        }
    }
}

.home-content {
    display: flex;
    justify-content: space-evenly;
    width: 1024px;
    margin: 0px auto;
    margin-top: 145px;
    transition: transform 1s;

    -webkit-animation: transform 1s 1!important;
	-moz-animation: transform 1s 1!important;
	-o-animation: transform 1s 1!important;
	animation: transform 1s 1!important;
    opacity: 1 !important;
    
    @media(max-width: 1024px) {
        width: 980px!important;
    }

    @media(max-width: 980px) {
        flex-wrap: wrap;
        width: 98%!important;
    }

    @media(max-width: 780px) {
        margin-top: 154px;
        flex-direction: column;
     }

    .left-menu {
        width: 190px;
        display: flex;
        flex-flow: column wrap;
        align-items: center;

        @media(max-width: 780px) {
           justify-content: center;
           margin-bottom: 20px;
           width: 100%;

           .create-item {
                position: fixed;
                bottom: 10px;
                right: 10px;
                display: flex;
                justify-content: flex-end;
                z-index: 999999;
            }
        }

        .create {
            background: #fff;
            width: 90px;
            height: 90px;
            color: #22a0ce;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            z-index: 9999;
            transition: transform 1s;

            @media(max-width: 780px) {
                width: 70px;
                height: 70px;
                background: #f0f0f0;
            } 
        }

        .story-tags {
            margin-top: 15px;

            @media(max-width: 780px) {
                display: none;
            } 
        }
    }

    .tag-block {
        width: 600px;
        display: flex;
        flex-direction: column;
        align-items: center;

        @media (max-width: 780px) {
            width: 100%;
        }

        .tag-info {
            background: #fff;
            width: 577px;
            margin-bottom: 10px;
            color: #22a0ce;
            text-align: left;
            display: flex;
            align-items: center;
            justify-content: space-between;
           

            @media (max-width: 780px) {
                width: 100%;
            }

            h1 {
                margin-bottom: 5px;
                text-indent: 25px;
            }
            
            .count {
                color: #999;
                display: flex;
                margin-bottom: 13px;
                text-indent: 25px;
            }

            .tag-options {
                margin-right: 10px;
            }
        }
    }

    .right-menu {
        width: 470px;
    }
}

.storyfeed {
    display: flex;
    flex-direction: column;
   

    @media (max-width: 780px) {
        width: 100%!important;
        min-width: 100%!important;
        justify-content: center;
    }
}

.home-page {
   // width: 98%!important;
   width: 1111px;

    .storyfeed {
        display: flex;
        flex-flow: row wrap;
        flex-direction: row!important;
        width: calc(100% - 250px);
        min-width: calc(100% - 250px);
    }
}
.story-item {
    display: flex;
    width: 557px;
    color: #000;
    background: #fff;
    margin: 5px;
    padding: 9px;
    position: relative;
    padding-bottom: 7px;
    flex-direction: column;

    @media(max-width: 780px) {
        width: 96%;
    }
    
    .question-indicator {
        position: absolute;
        top: 0;
        left: 0;
        height: 32px;
        width: 32px;
        background: aliceblue;
        border-radius: 0px 0px 90%;
        display: flex;
        text-indent: 6px;
        font-size: 18px;
        color: #777;
        font-weight: bold;
        font-family: monospace;
    }

    .user-info  {
        padding: 14px 14px;
        padding-bottom: 0px;

        .author {
           @include profilePic()
        }
    }

    .timestamp {
        color: #555;
        font-size: 13px;
    }

    .story-data {
        padding: 16px 9px;
        padding-bottom: 5px;
        width: calc(100% - 20px);
        padding-top: 10px;

        .view-more {
            color: #22a0ce!important;
            font-size: 13px;
        }

        .text-content {
            text-align: left;
            line-height: 24px;
            white-space: pre-line;
            font-size: 14px;
            color: #000;

            a {
                text-decoration: none;
                color:#000;
            }

            img {
                border-radius: 3px;
                margin-left: 11px;
                margin-top: 7px;
            }

            .story-title {
                font-weight: bold;
                font-size: 17px;
                padding-bottom: 5px;
            }
        }

        .more-info {
            .author-name {
                font-size: 15px;
                color: #777;
                font-weight: normal;
                line-height: 30px;
                text-align: left;
            }
        }

        .reply-compose {
            border-bottom: 1px solid #f0f0f0;
            margin-top: 16px;
            background: ghostwhite;
            padding: 5px 13px;
            justify-content: end;
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            textarea {
                width: 99%;
                font-size: 13px;
            }

            .app-button {
                margin-top: 5px;
            }
        }

        .reply-section {

            .reply-item {
                display: flex;
                margin-top: 11px;
                padding: 15px 0px;
                background: ghostwhite;

                .reply-user {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding: 0px 10px;
                    padding-right: 5px;

                    img {
                        @include profilePic();
                        width: 19px;
                        height: 19px;
                    }

                    .timestamp {
                        font-size: 10px;
                        color: #999;
                    }
                }

                .reply-content {
                    display: flex;
                    flex-direction: column;
                    align-items: left;
                    padding-top: 5px;
                    padding-left: 8px;

                    .username {
                        color: #22a0ce;
                        font-size: 13px;
                    }

                    .reply {
                        white-space: pre-line;
                        font-size: 13px;
                        margin-top: 10px;
                        text-align: left;

                        a {
                            color: #f0f0f0;
                        }
                    }
                }
            }
        }
    }

    .story-options {
        text-align: left;
        margin-top: 5px;
        text-indent: 5px;

        a {
            text-decoration: none!important;
            color: #999;
            font-size: 13px;
        }

        .count {
            margin-left: 5px;
        }
    }

    .voting {
        display: flex;
        align-items: center;
        justify-content: center;

        i {
            font-size: 32px;
            color: #999;
            margin: 0px;
            margin-top: 10px;
            margin-bottom: 5px;
            
            &.voted {
                color: indianred;
            }

            &:hover {
                color: indianred;
            }
        }

        .count {
            font-size: 15px;
            color: #999;
        }
    }
    
    &.question {
        .text-content {
            font-weight: bold;
            font-size: 17px;
            text-align: center;
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            justify-content: center;

            img {
                margin-top: 20px;
                width: 100%;
                max-height: 600px!important;
            }
        }

        .author-name {
            display: flex;
            justify-content: center;
            font-style: italic;
        }
    }
}

.story-item-mini {
    display: flex;
    width: 47.5%;
    height: fit-content;
    color: #000;
    background: #fff;
    margin: 5px;
    padding: 9px;
    position: relative;
    padding-bottom: 7px;
    flex-direction: column;
    color: #fff;
    box-sizing: border-box;
    border-bottom: 1px solid #f0f0f0;
    box-shadow: 0px 2px 15px #f0f0f0;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;


    // &:first-child {
    //     margin-top: 5px;
    // }

    // @media(max-width: 963px) {
    //     width: 45%;
    // } 

    // @media(max-width: 833px) {
    //     width: 43%;
    // } 

    @media(max-width: 780px) {
        width: 100%;
        margin: 0!important;
    } 

    &.question {

        .text-content {
            font-weight: bold;
            font-size: 19px;
            text-align: center;
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            justify-content: center;
            line-height: 33px;
            color: #000;

            span {
                color: #000;
            }
        }

        @media(max-width: 963px) {
            width: 45%;

            .text-content {
                font-size: 16px;
                line-height: 25px;
            }
        } 

        @media(max-width: 833px) {
            width: 43%;
        } 

        @media(max-width: 780px) {
            width: 45%;
        } 

        @media(max-width: 578px) {
            width: 95%;
        } 
    
    }

    .user-info {
        padding: 0!important;
    }

    .story-data {
        padding-top: 10px;
        padding-bottom: 22px;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;

        @media (max-width: 578px) {
            height: auto;
        }

        .title-section {
            width: 100%;
            text-align: left;

            .story-title {
                color: #000;
                font-weight: bold;
                font-size: 18px;
                padding: 11px 0px;
                width: calc(100% - 40px);
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                margin-top: 10px;
            }
            
            .author-section {
                img {
                    width: 20px;
                    margin: 0 !important;
                    padding-right: 5px;
                    vertical-align: text-bottom;
                }
                a {
                    color: #999!important;
                    &:hover {
                        color: #22a0ce!important;
                    }
                }
            }
        }

        .context-section {
            height: 120px;
            display: flex;
            align-items: center;
            
            .story-context {
                margin: 0px!important;
                display: flex;
        
                .with-image {
                    width: calc(100% - 110px);
                    padding-right: 5px;
                }
        
                .image-component {
                    width: 100px;
                    height: 77px;
        
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        margin: 0!important;
                    }
                }
            }
        }
    }

    .topic-tag {
        color: #000;
        position: absolute;
        right: 0px;
        top: 9px;
        padding: 3px 13px;
        /* background: aliceblue; */
        font-size: 12px;
        /* box-shadow: 0px 1px 2px #ddd; */
        border: 1px solid #ddd;
        border-radius: 15px 0px 0px 15px;
        border-right: 0px;
    }

    .text-content {
        width: 100%;
        white-space: inherit!important;

        .story-title {
            font-weight: bold;
            font-size: 17px;
            padding-bottom: 5px;
        }

        .span-image {
            background: #fff;
            background-size: cover;
            color: #fff;
            background-size: cover;
            display: block;
            height: 151px;
            padding: 5px 13px;
            text-shadow: 0px 2px 18px #000;
            border-radius: 3px;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            position: relative;

            .text-wrapper {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background: rgba(0,0,0,0.4);
                border-radius: 3px;
            }

            .text-main-content {
                position: absolute;
                padding: 11px;
                z-index:9;                                              
                text-align: center;
            }

            .view-more {
                color: #aaa!important;
            }

            @media(max-width: 578px) {
                height: 270px;

                .text-main-content {
                    font-size: 16px;
                    text-align: center;
                }
            } 
        }
    }

    .story-options {
            /* text-align: left; */
        margin-top: 5px;
        text-indent: 0px;
        position: absolute;
        bottom: 0;
        width: 91%;
        display: flex;
        justify-content: space-between;
        text-indent: 6px;
        padding-bottom: 5px;
        align-items: center;
    }

    .voting {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        width: 100%;
        height: 100%;
        background: rgba(255,255,255, 0.7);
        transition: opacity 0.5s ease;
        -webkit-transition: opacity 0.5s ease;
        -moz-transition: opacity 0.5s ease;
        pointer-events: none;
    }

    &:hover {
        .voting {
            opacity: 1;
            pointer-events: all;
        }
    }

    .timestamp {
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 5px 15px;
    }
}

.story-tags {
    display: flex;
    margin-top: 5px;
    justify-content: center;
    flex-wrap: wrap;

    .tag {
        background: #f0f0f0;
        color: #000;
        margin: 3px;
        padding: 6px 11px;
        font-size: 13px;
        border-radius: 22px;
        display: block;

        &:first-child {
            margin-left: 0;
        }

        .count {
            color: #22a0ce;
            border-radius: 50%;
            padding: 2px;
            margin-left: 5px;
        }
    }

    &.suggestion {
        display: flex;
        color: #000;
        margin: 5px;
        padding: 9px;
        position: relative;
        justify-content: center;
        flex-wrap: wrap;
        background: #fff;
        margin-top: 0px;

        .tag {
            background: #f5f5f5;
            color: #000;
            margin: 7px;
            padding: 6px 11px;
            font-size: 13px;
            border-radius: 22px;
            display: inline;

            .count {
                color: #22a0ce;
                border-radius: 50%;
                padding: 2px;
                margin-left: 0px;
            }
        }
    }
}

.home-page {
    .story-form-wrapper {
        position: absolute;
        z-index: 999999;
        width: 450px;
        height: auto;
        min-height: 300px;
        border-radius: 5px;
        transition: top 1.2s;
        background-color: #fff;
        top: -50%;
        left: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 0px 1px 23px #d0d0d0;
        border-radius: 7px;
    
        .close-story {
            position: absolute;
            right: 9px;
            top: 9px;
    
            a {
                text-decoration: none;
                color: #999;
            }
        }
    }
}

.story-form {
    width: 100%;
    height: 100%;
    
    .story-title {
        outline: none;
        resize: none;
        background: #fff;
        border: 0px;
        width: 90%;
        margin-top: 10px;
        font-size: 27px;
        line-height: 30px;
        color: #000;
        font-weight: bold;
        padding: 10px 0px;
    }
    
    textarea {
        height: 200px;
        margin-top: 15px;

        &.question {
            font-weight: bold;
            font-size: 30px;
            line-height: 37px
        }
    }

    .tag-input {
        border-bottom: 1px solid #f0f0f0;
        width: 91%;
        margin: 5px 0px;
        display: flex;
        justify-content: flex-start;
        margin: 0px auto;
        margin-top: 13px;
        margin-bottom: 14px;
        flex-wrap: wrap;
        min-height: 35px;

        input {
            color: #000;
            font-size: 13px;
        }

        span {
            background: #f0f0f0;
            color: #000;
            margin: 3px;
            padding: 6px 11px;
            font-size: 13px;
            border-radius: 22px;
        }
    }

    .publish-section {
        display: flex;
        width: 90%;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 7px;

        a {
            margin-right: 15px;
        }

        .select-image {
            color: #22a0ce;
            padding: 0px 16px;
            font-size: 24px;
            margin-left: 28px;
        }
    }

    .section-other {
        background: ghostwhite;
        padding: 12px 0px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.image-item {
    position: relative;
    width: auto;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #ddd;
    /* border: solid #ccc; */
    box-shadow: 0px 1px 20px #aaa;

    .close {
        position: absolute;
        top: 0px;
        right: 0px;
        font-size: 27px;
        color: #fff;
        font-size: 16px;
        padding: 4px;
        text-shadow: 0px 2px 2px #000;
        background: rgba(0,0,0,0.5);
    }
}


// ***************************************** //
// Profile page //
// ***************************************** //

.profile-info {
    background: #fff;
    width: 577px;
    margin-bottom: 10px;
    color: #22a0ce;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    @media (max-width:780px) {
        width: 100%;
    }

    .profile-edit-option {
        position: absolute;
        right: 10px;
        top: 10px;
    }

    .description {
        display: flex;
        color: #000;
        font-size: 14px;
        line-height: 22px;
        width: 81%;
        text-align: center;
        padding-bottom: 15px;
        white-space: pre-line;
    }

    .follow-options {
        margin-bottom: 15px;
    }
}

.profile-pic-big {
    @include profilePic();
    height: 110px;
    width: 110px;
}

.user-suggestions {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: #fff;
    padding: 10px 7px;

    img {
        @include profilePic()
    }
}

.profile-stats {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 19px;
    
    .stats-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px 12px;

        .count {
            color: #555;
            font-size: 26px;
        }

        .title {
            color: #999;
        }
    }
}

.profile-edit-component {
    width: 100%;
    padding: 10px 0px;
    background: #fff;
    color: #000;
    position: relative;

    .profile-save-options {
        position: absolute;
        right: 5px;
        top: 10px;
        display: flex;
        width: 180px;
        justify-content: space-around;
        z-index: 99;
    }

    .pic-selection-box {
        background: ghostwhite;
        padding: 8px 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .profile-info {
        width: 100%;
        position: relative;

        @media(max-width: 780px) {
            margin-top: 52px;
        }

        .username-edit {
            font-size: 27px;
            color: #22a0ce;
            border-bottom: 1px solid #f0f0f0;
            text-align: center;
        }

        .description-edit {
            @include textarea();
            height: 190px;
            margin-top: 15px;
            border-bottom: 1px solid #f0f0f0;
            text-align: center;
        }
    }

    h3 {
        text-align: left;
        text-indent: 20px;
    }
}

.profile-edit {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
    img {
        @include profilePic();
        width: 50px;
        height: 50px;
        margin: 5px;
    }
}

.gender{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 35px 0px;

    .pretty {
        margin: 0px 20px;
    }
}


.story-page {
    width: 80%;

    @media(max-width: 980px) {
        width: 100%;
    }

    .story-form-wrapper {
        border-radius: 5px;
        transition: top 1.2s;
        background-color: #fff;
        border-radius: 7px;
        display: block;
    }

    .story-form-wrapper {
        
        transition: top 1.2s;
        background-color: #fff;
        border-radius: 7px;
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 099999;

        .search-box {
            top: -71%!important;
        }

        .section-other {
            position: fixed;
            bottom: 0;
            width: 100%;
        }
    }
}


//******************************************//
// SearchBox//
//******************************************//
.search-box {
    background: #fff;
    width: 400px;
    height: 400px;
    position: absolute;
    z-index: 999999999;
    box-shadow: 0 2px 16px -1px rgba(0,0,0,0.25);
    border: 1px solid #ddd;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .search-input {
        border-radius: 20px;
        color: #000;
        padding: 10px 12px;
        width: 93%;
        margin-right: 5px;
        display: flex;

        input {
            background: #f0f0f0;
            border-radius: 20px;
            color: #000;
            padding: 10px 12px;
            width: 90%;
            margin-right: 5px;
        }
    }

    .search-results {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        background: aliceblue;
        height: 370px;
        overflow: auto;

        .item {
            width: 100px;
            height: 100px;
        }

        .searching {
            color: #999;
            display: flex;
            height: 100%;
            justify-content: center;
            align-items: center;
        }
    }
}


.no-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    h2 {
        color: #999!important;
        font-weight: 100;
    }
}

// **************************************** // 
// SELECT BOX //
// **************************************** //
.selectbox {
    border: none;
    background: #f0f0f0;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    width: 300px;
    text-align: left;
    margin-top: 20px;
    left: 50%;
    transform: translateX(-50%);

    #selected {
        color: #22a0ce!important;
    }
    
    .option-item {
      padding: 10px 20px;
      height: 100%;
      width: 100%;
      box-sizing: border-box;
      display: block;
    }
    
    .dropdown {
      position: absolute;
      opacity: 0;
      transform: translateY(-70px);
      transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      -webkit-transition: all 0.5s ease;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background: #fff;
      border: 1px solid #f0f0f0;
      top: 0;
      width: 100%;
      pointer-events: none;
      
      &.show {
        opacity: 1;
        transform: translateY(0px);
        pointer-events: all;
      }
      
      > a {
        text-decoration: none;
        color: #000;
        
        &:hover {
          background: #22a0ce;
          color: #fff;
        }
      }
    }
  }
  




// ***************************************** //
// 404  //
// ***************************************** //
.page-404 {
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h1 {
        color: #999;
        margin-bottom: 90px;
    }
}

.loading {
    color: #22a0ce;
}

/*
 * Animation for webkit
*/
@-webkit-keyframes bounce {

    0% {
        top: 1000px;
        opacity: 0;
    }

    50% {
        top: 500px;
        opacity: 1;
    }

    100% {
        top: 0px;
        opacity: 1;
    }
} 
@keyframes bounce {
    0% {
        top: 1000px;
        opacity: 0;
    }

    50% {
        top: 500px;
        opacity: 1;
    }

    100% {
        top: 0px;
        opacity: 1;
    }
} 
/*
 * Adding the animation to our element
*/
.bounce {
    -webkit-animation-name: bounce;
    animation-name: bounce;
}


  // Btn

.app-button {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 15px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    display: inline-block;

    &:hover {
        background: #3cb0fd;
        background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
        background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
        background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
        background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
        background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
        text-decoration: none;
    }

    &.inverse {
        color: #999999;
        background: #fcfcfc;
        border: 1px solid #999999;
        background-image: -webkit-linear-gradient(top, #fcfcfc, #ffffff);
        background-image: -moz-linear-gradient(top, #fcfcfc, #ffffff);
        background-image: -ms-linear-gradient(top, #fcfcfc, #ffffff);
        background-image: -o-linear-gradient(top, #fcfcfc, #ffffff);
        background-image: linear-gradient(to bottom, #fcfcfc, #ffffff);

        &:hover {
            background: #fcfcfc;
            background-image: -webkit-linear-gradient(top, #fcfcfc, #ffffff);
            background-image: -moz-linear-gradient(top, #fcfcfc, #ffffff);
            background-image: -ms-linear-gradient(top, #fcfcfc, #ffffff);
            background-image: -o-linear-gradient(top, #fcfcfc, #ffffff);
            background-image: linear-gradient(to bottom, #fcfcfc, #ffffff);
        }
    }

    &.small {
        font-size: 12px;
        padding: 7px 17px 7px 17px;
    }
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #999;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #999;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #999;
}



.progress-bar-live {
    width: 0%;
    background-color: limegreen;
    height: 3px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    text-align: center;
    width: 100%;
    z-index: 9999999;
    display: none;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    -ms-transition: all 0.7s ease 0s;
  }

.global-message {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    z-index: 999999;
    background: rgba(255,255,255,0.9);
    display: none;

      .global-message-content {
        padding-top: 37vh;
      }

      .check-mark {
        height: 45px;
        width: 45px;
        background: limegreen;
        color: #fff;
        border-radius: 50%;
        font-size: 29px;
        font-weight: lighter;
        padding: 3px 8px;
        text-align: center;
      }
      
      .message {
        font-size: 28px;
        color: #7ac142;
      }
  }

  .global-error {
    position: fixed;
    left: 0;
    text-align: center;
    width: 100%;
    z-index: 999999;
    background: indianred;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
    color: #fff;
    height: auto;
    display: none;
    padding: 10px 8px;
    border-radius: 0px 0px 3px 3px;
    box-shadow: 0px 0px 11px #333;  
    transition: display 1s;
    -webkit-animation: transform 1s 1!important;
	-moz-animation: transform 1s 1!important;
	-o-animation: transform 1s 1!important;
    animation: transform 1s 1!important;

    .error-message {
        width: 100%;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-size: 17px;
    }
  }
  
  .share-box {
    display: flex;
    margin: 0px 5px;
    padding-bottom: 10px;
    justify-content: space-between;

    .share-item {
        width: 20%;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;

        &.fb {
            background: #3B5998;
        }

        &.tw {
            background: #55acee;
        }

        &.em {
            background: #7d7d7d;
        }

        &.pt {
            background: #CB2027;
        }

        &.ws {
            background: #25d366;
        }
    }
  }

  .checkmark__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: #7ac142;
    fill: none;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
  }
  
  .checkmark {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    display: block;
    stroke-width: 2;
    stroke: #fff;
    stroke-miterlimit: 10;
    margin: 2% auto;
    box-shadow: inset 0px 0px 0px #7ac142;
    animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
  }
  
  .checkmark__check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
  }
  
  @keyframes stroke {
    100% {
      stroke-dashoffset: 0;
    }
  }
  @keyframes scale {
    0%, 100% {
      transform: none;
    }
    50% {
      transform: scale3d(1.1, 1.1, 1);
    }
  }
  @keyframes fill {
    100% {
      box-shadow: inset 0px 0px 0px 30px #7ac142;
    }
  }

  .spinner {
    width: 70px;
    text-align: center;
    display: flex;
    justify-content: center;
  }
  
  .spinner > div {
    width: 18px;
    height: 18px;
    background-color: #22a0ce;
  
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  }
  
  .spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }
  
  .spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }
  
  @-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
  }
  
  @keyframes sk-bouncedelay {
    0%, 80%, 100% { 
      -webkit-transform: scale(0);
      transform: scale(0);
    } 40% { 
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
    }
  }


  .feed-loader {
    display: flex;
    justify-content: center;
    width: 100%;
  }